    <div id="collectionCarousel<%= collection_index %>" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <% collection.recipes.in_groups_of(3, false).each_with_index do |recipes, recipes_index| %>
        <div class="carousel-item<%= " active" if recipes_index == 0  %> ">
          <div class="row justify-content-center">
            <% recipes.each do |recipe| %>
              <%= render 'recipes/recipe-card', recipe: recipe %>
            <% end %>
          </div>
        </div>
        <% end %>
      </div>
      <a class="carousel-control-prev" href="#collectionCarousel<%= collection_index %>" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#collectionCarousel<%= collection_index %>" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>