<h1> Listing collections </h1>
<% @collections.each_with_index do |collection, collection_index| %>
  <div class ="bg-dark-orange p-2 mb-4 col">
    <h2><%= link_to collection.title, collection, class:"badge badge-pill badge-primary border-bottom" %><br /></h2>
    <%= collection.description if collection.description.present? %>
    <% if collection.recipes.length > 3 %>
      <%= render 'collection-carousel', collection: collection, collection_index: collection_index %>
    <% else %>
      <div class="row justify-content-center">
        <% collection.recipes.each do |recipe| %>
            <%= render 'recipes/recipe-card', recipe: recipe %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>

<%= link_to "Back", root_path %>

