<div class="container">
  <%= render 'shared/errors', obj:@recipe %>
  <%= form_with(model: @recipe ,class:"mt-4", local: true) do |f| %>
    
    <div class="form-group row">
      <%= f.label :title, class:"col-form-label col-2" %>
      <%= f.text_field :title, class:"form-control col-10" %>
    </div>

    <div class="form-group row">
      <%= f.label :description, class:"col-form-label col-2" %>
      <%= f.text_area :description,rows: 3, class:"form-control col-10" %>
    </div>

    <div class="form-group row justify-content-end">
      <div class="col-2">
       Ingredients:
      </div>
      <div class="col-10" data-controller="nested-form">

        <template data-target="nested-form.template"> 
          <%= f.fields_for :ingredients, Ingredient.new, child_index: 'TEMPLATE_RECORD' do |ingredient| %>
            <%= render 'ingredients_fields', ingredients_form: ingredient %>
          <% end %>
        </template>
        <div class="row justify-content-end">
        <table id="ingredients-table" class="col-12">
          <tr class="row"> 
            <th class="col-8">Name</th>
            <th class="col-2">Amount</th>
            <th class="col-2" colspan="2">Measure</th>
          </tr>
          <%= f.fields_for :ingredients do |ingredients_form| %> 
            <%= render 'ingredients_fields', ingredients_form: ingredients_form %>
          <% end %>
        </table>
        </div>
        <div class="row mt-2" data-target="nested-form.add_ingredient">
          <%= link_to "Add Ingredient", '#',class:"btn btn-success", data: { action: "nested-form#add_association" } %>
        </div>
        
      </div>
    </div>

    <div class="form-group row">
      <%= f.label :method, class:"col-form-label col-2" %>
      <%= f.text_area :method,rows: 6, class:"form-control col-10" %>
    </div>

    <div class="form-group-row">
      <%= f.label :main_image, class:"col-form-label col-2" %>
      <%= f.file_field :main_image %>
    </div>

    <div class="form-group-row">
      <%= f.label :private, class:"col-form-label col-2" %>
      <%= f.check_box :private %>
    </div>

    <div class="form-group row justify-content-end">
      <%= f.submit class:"btn btn-lg btn-primary" %>
    </div>

  <% end %>
</div>