<div class="card m-2" style="width: 18rem;">
  <% if recipe.main_image.present? %>
    <div class="d-flex flex-wrap align-items-center " style="height: 18rem;">
      <%= image_tag recipe.main_image, size:"18rem", class:"card-img-top align-middle" %>
    </div>
  <% else %>
    <%= image_tag 'recipe-placeholder-202x202.jpg', class: "card-img-top"%>
  <% end %>
  <div class="card-body">
    <h5 class="card-title"><%= recipe.title %></h5>
    <p class="card-text"><%= truncate(recipe.description, length:100) if recipe.description? %> </p>
    <p class="card-text">By: <%= recipe.user.username.present? ? recipe.user.username : recipe.user.email %> </p>
    <% if can? :read, recipe %>
      <%= link_to "View", recipe, class: "btn btn-primary" %>
    <% end %>
  </div>
</div>