<div class="row justify-content-center">
  <% @recipes.in_groups_of(3, false) do |recipe_group| %>
    <div class="row justify-content-between">
      <% recipe_group.each do |recipe| %>
        <div class="card m-2" style="width: 18rem;">
          <img src="https://source.unsplash.com/200x200/?food/<%= recipe.id %>" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><%= recipe.title %></h5>
            <p class="card-text"><%= truncate(recipe.description, length:100) if recipe.description? %> </p>
            <p class="card-text">By: <%= recipe.user.email %> </p>
            <%= link_to "View", recipe, class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>