<div class="jumbotron mt-5" id="welcome-jumbotron">
  <h1 class="display-4">Welcome!</h1>
  <p class="lead">A simple app for people to share recipes</p>
  <hr class="my-4">
  <p>Currently a work in progress.Check below for development blog/feature updates!</p>
  <% if !user_signed_in? %>
    <%= link_to "Sign-In", new_user_session_path, class: "btn btn-lg btn-primary"%>
    <%= link_to "Sign-up", new_user_registration_path, class: "btn btn-lg btn-primary" %>
  <% end %>
</div>

<div>
  <h2>Blog: </h2>
  <%= link_to "Create Article", new_article_path, class:"btn btn-lg btn-primary" if user_signed_in? && current_user.admin? %>
  <h3 class=" border-top border-dark mt-4">Pinned Articles </h3>
  <% @pinned.each do |article| %>
    <%= render 'articles/article', article: article %>
  <% end %>
  <div class="border-bottom border-dark mb-4"></div>
  <% @articles.each do |article| %>
    <% if !article.pinned %>
      <%= render 'articles/article', article: article %>
    <% end %>
  <% end %>
</div>